*.class

# Package Files #
*.jar
*.war
*.ear
*.html

bin/
dist/
javadoc/

# libraries #
!libs/*.jar

# project files #
.idea/
*.iml

src/com/nguyenmp/grawler/Tester.java

*Credentials.java
